/*----------------------------------------*/
/*  01. Header Top
/*----------------------------------------*/
$header--top-bg-color: var(--primary);
$header--top-height: 34px;
$header--top-search-form-height: 28px;
$header--top-search-form-width: 270px;
$header--top-search-form-bg-color: rgba(240, 240, 240, 0.3);
header {
	position: relative;
	z-index: 999;
}
.header__top {
	background-color: $header--top-bg-color;
	height: auto;
	display: none;

	@media (min-width: 1080px) {
		height: $header--top-height;
		@include flex-center;
	}

	& .is-layout-flex {
		margin-bottom: 0;
		align-items: center !important;
	}

	&-left {
		display: none;

		@media (min-width: 1080px) {
			display: block;
		}

		ul {
			display: flex;
			align-items: center;
		}

		li {
			display: inline-block;
			margin-right: 15px;

			&:last-child {
				position: relative;
				padding-left: 15px;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					height: 100%;
					background-color: var(--black);
				}
			}
		}

		svg {
			@include icon(17px);
			fill: var(--black);
		}

		a {
			color: var(--black);
		}
	}

	&-right {
		flex-basis: 100% !important;

		@media (min-width: 1080px) {
			flex-basis: 70% !important;
		}

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: row wrap;

			@media (min-width: 1080px) {
				justify-content: flex-end;
				flex-flow: unset;
			}
		}

		li {
			display: inline-block;
			margin-right: 3px;
			margin-top: 3px;
			margin-bottom: 3px;

			@media (min-width: 576px) {
				margin-right: 20px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}

		a {
			color: var(--black);
			font-size: 12px;

			@media (min-width: 576px) {
				font-size: 14px;
			}
		}
	}
}
.header__top-home h1 {
	margin: 0;
}
/*----------------------------------------*/
/*  02. Header Main
/*----------------------------------------*/
$header--main-bg-color: var(--title);
$header--main-height: 77px;
$header--main-height-mobile: 60px;

.header__main {
	background-color: $header--main-bg-color;
	color: white;
	display: flex;
	align-items: center;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
	-moz-box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
	box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
	animation: 300ms ease-in-out 0s 1 normal none running fadeInUp;
	height: $header--main-height-mobile;

	@media (min-width: 1080px) {
		height: $header--main-height;
	}

	.header__row {
		align-items: center;
		justify-content: space-between;

		margin-left: 0;
		margin-right: 0;

		@media (min-width: 576px) {
			margin-left: -12px;
			margin-right: -12px;
		}

		@media (min-width: 1080px) {
			justify-content: unset;
		}

		.header__col {
			padding-left: 0;
			padding-right: 0;

			@media (min-width: 576px) {
				padding-left: 12px;
				padding-right: 12px;
			}
		}
	}

	.header__logo {
		display: none;

		@media (min-width: 1080px) {
			display: block;
			width: 17%;
		}
	}

	.header__nav {
		width: calc(100% - 45px);

		@media (min-width: 1080px) {
			width: 71%;
		}

		.main-menu {
			display: none;

			@media (min-width: 1080px) {
				display: block;
			}
		}

		.ywcas-input-field-wrapper {
			background: #FFF;
			border: 1px solid #E5E5E5;
			box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
			border-radius: 4px;
		}

		.wp-block-yith-search-block .ywcas-classic-search .ywcas-input-field-wrapper .ywcas-submit-wrapper .ywcas-submit-icon {
			stroke: var(--primary);
		}

		.ywcas-input-field input {
			font-size: 14px;

			&::-webkit-input-placeholder {
				color: #aaa;
				font-size: 14px;
			}

			&:-ms-input-placeholder {
				color: #aaa;
				font-size: 14px;
			}

			&::placeholder {
				color: #aaa;
				font-size: 14px;
			}
		}
	}

	.header__actions {
		width: 45px;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		@media (min-width: 1080px) {
			width: 8%;
		}
	}
}

/*----------------------------------------*/
/*  03. Header Bottom
/*----------------------------------------*/

.header__bottom {
	height: 50px;
	background-color: var(--primary);
	display: none;
	@media (min-width: 1080px) {
		display: block;
	}
}

/*----------------------------------------*/
/*  03. Yith ajax search
/*----------------------------------------*/
body.ywcas-overlay-closed>*:not(.ywcas-overlay-wrapper-search) {
	transform: unset !important;
	transform: none !important;
}

body {
	.ywcas-popover-results .popover-content {
		background: #ffffff;
		box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .3), 0 6px 12px -2px rgba(50, 50, 93, .25);
		border-radius: 8px;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 400px;
		padding: 0;
		border: 0;
	}

	.ywcas-popular-searches-wrapper .ywcas-popular-searches__title {
		background: var(--border);
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		color: var(--title);
		margin-bottom: 0;
		padding: 8px 16px;
	}

	.ywcas-popular-searches-wrapper .ywcas-popular-searches-label {
		padding: 0;
		font-style: italic;
		margin-right: 5px;
	}

	.ywcas-popular-searches-wrapper .ywcas-popular-searches-item {
		padding: 0;
		color: white !important;
		border: 0;
		font-style: italic;
		margin-right: 5px;

		&:hover {
			background-color: transparent;
		}
	}

	.ywcas-popover-results .popover-content .ywcas-classic-related-content-wrapper .ywcas-related-content__label {
		background: var(--border);
		font-weight: 700;
		font-size: 12px;
		line-height: 16px;
		color: var(--title);
		margin-bottom: 0;
		padding: 8px 16px;
	}

	.ywcas-popover-results .popover-content .ywcas-classic-related-content-wrapper .ywcas-related-content {
		margin: 0;
		background-color: #ffffff;
		padding: 0;
	}

	.ywcas-popover-results .popover-content .wp-block-yith-filled-block .ywcas-search-results.list {
		margin-left: 0;
		margin: 0;
	}

	.ywcas-popover-results.no-results .popover-content .wp-block-yith-filled-block .ywcas-search-results.list {
		padding: 15px;
	}

	.ywcas-popover-results .popover-content .wp-block-yith-filled-block hr {
		display: none;
	}

	.ywcas-popover-results {
		padding: 0;

		//display: none;
		//
		//@media (max-width: 575px) {
		//	display: block;
		//}
	}

	.search-result-item__price {
		color: var(--primary);
	}

	.search-category-results {
		display: flex;
		flex-direction: column-reverse;

		.search-category-results-label {
			background: var(--border);
			font-weight: 700;
			font-size: 12px;
			line-height: 16px;
			color: var(--title);
			margin-bottom: 0;
			padding: 8px 16px;
			text-transform: uppercase;
		}

		.ywcas-category-result {

			a,
			p:nth-child(2) {
				display: none;
			}

			p:nth-child(1) {
				padding-left: 15px;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
	}

	.ywcas-popover-results .popover-content .ywcas-classic-related-categories-wrapper {
		margin-bottom: 0;
	}

	.ywcas-popover-results .popover-content .ywcas-classic-related-content-wrapper .ywcas-related-content__link {
		padding: 15px;
	}

	.ywcas-popover-results .popover-content .wp-block-yith-filled-block .ywcas-search-results.list .ywcas-search-results-grid {
		gap: 0;
	}

	.ywcas-popover-results {
		margin-top: 0;
	}

	.ywcas-search-mobile .mobile-search-content {
		height: calc(100vh - 150px - 60px);
		overflow-y: scroll;
		padding-top: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.ywcas-search-mobile .mobile-search-content .ywcas-classic-related-content-wrapper {
		margin-top: 0;

		.ywcas-related-content {
			background-color: transparent;
		}

		.ywcas-related-content__label {
			background: var(--border);
			font-weight: 700;
			font-size: 12px;
			line-height: 16px;
			color: var(--title);
			margin-bottom: 20px;
			padding: 8px 16px;
			text-transform: uppercase;
			margin-top: 20px;
		}
	}

	// .ywcas-search-mobile.with-wp-admin-toolbar {
	// 	padding: 0;
	// }

	.ywcas-search-mobile .ywcas-block-components-search-field {
		padding: 0 40px 0 15px;
	}

	.ywcas-search-mobile .mobile-search-close {
		display: block;
		text-align: right;
		opacity: 0.6;
		margin-right: -15px;
		margin-bottom: 20px;
		position: absolute;
		right: 0;
		margin: 0;
		top: 68px;
		right: 4px;
	}

	.wp-block-yith-search-block .ywcas-classic-search.ywcas-small button {
		border: 0;
		margin-right: 4px;
		border-radius: 4px;
	}

	.wp-block-yith-search-block .ywcas-classic-search.ywcas-small button:hover {
		padding: 4.5px 20px;
	}

	.ywcas-popular-searches-items {
		@media (max-width: 575px) {
			display: none;
		}
	}
}

.buy-online__wrapper {
	padding: 6px 10px 6px 10px;
	background-color: transparent;
	background-image: linear-gradient(180deg, var(--primary-var-1) 0%, var(--primary) 100%);
	border-radius: 0;
	transition: all 0.3s ease;
	display: none;

	svg {
		@include icon(36px)
	}

	&>div {
		display: flex;
		align-items: center;
	}

	h2,
	a {
		color: white;
	}

	h2,
	p {
		margin: 0;
	}

	p {
		line-height: normal;
	}

	h2 {
		font-size: 12px;
	}

	a {
		font-size: 18px;
	}
}

/*----------------------------------------*/
/*  05. Main Nav
/*----------------------------------------*/
.main-menu {
	& ul {

		& li {
			display: inline-block;
			position: relative;

			& a {
				font-size: 14px;
				text-transform: uppercase;
				color: var(--black);
				display: inline-block;
				transition: all 0.3s ease;
				position: relative;
			}

			& .submenu {
				position: absolute;
				top: 120%;
				left: 0;
				width: 200px;
				padding-bottom: 0;
				background: var(--white);
				-webkit-box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
				-moz-box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
				box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
				-webkit-transition: all 0.3s ease-out 0s;
				-moz-transition: all 0.3s ease-out 0s;
				-ms-transition: all 0.3s ease-out 0s;
				-o-transition: all 0.3s ease-out 0s;
				transition: all 0.3s ease-out 0s;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				visibility: hidden;
				opacity: 0;
				z-index: 9;
				transition: all 0.3s ease;
				transform: none;
				text-align: left;

				& li {
					display: block;
					margin-right: 0;
					padding: 0;

					&:last-child {
						margin-bottom: 0;
					}

					& .submenu {
						top: 0;
						left: 120%;
						visibility: hidden;
						opacity: 0;
						transition: all 0.3s ease;
					}
				}

				& li>a {
					width: 100%;
					display: block;
					padding: 10px 15px;
					text-transform: capitalize;
					color: var(--title);
					font-weight: 500;
					position: relative;
					transition: all 0.3s ease;
					font-size: 14px;

					&:hover {
						color: var(--primary) !important;
						background-color: #f0f0f0;
					}
				}

				& li>a::after {
					right: 30px;
					-webkit-transform: translateY(-50%) rotate(-90deg);
					-moz-transform: translateY(-50%) rotate(-90deg);
					-ms-transform: translateY(-50%) rotate(-90deg);
					transform: translateY(-50%) rotate(-90deg);
					transition: all 0.3s ease;
				}

				& li:hover>a {
					color: var(--white);
					transition: all 0.3s ease;
				}

				& li:hover>a::before {
					height: 100%;
					bottom: auto;
					top: 0;
					transition: all 0.3s ease;
				}

				& li:hover>.submenu {
					visibility: visible;
					opacity: 1;
					left: 100%;
					transition: all 0.3s ease;
				}
			}
		}

		& li:not(:last-child) {
			margin-right: 15px;
		}

		& li.has-dropdown>a {
			position: relative;
			padding-right: 15px;
		}

		& li.has-dropdown>a::after {
			position: absolute;
			content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCg0KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyBmaWxsPSIjMWUxYzFjIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiANCgkgdmlld0JveD0iMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7fQ0KPC9zdHlsZT4NCjxwYXRoIGQ9Ik0zLjcsNy44TDIuMyw5LjJsOSw5bDAuNywwLjdsMC43LTAuN2w5LTlsLTEuNC0xLjRMMTIsMTYuMUwzLjcsNy44eiIvPg0KPHJlY3QgY2xhc3M9InN0MCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+DQo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiLz4NCjwvc3ZnPg==);
			right: 0;
			top: 17px;
			transition: all 0.3s ease;
			width: 14px;
		}

		& li.active>a {
			color: var(--black);
			opacity: 1;
		}

		& li.menu-item {
			& > a {
				padding: 17px 15px 17px 0;
				&::before {
					content: '';
					position: absolute;
					bottom: 1px;
					left: 0;
					width: 0;
					height: 2px;
					background-color: var(--black);
					opacity: 0;
					visibility: hidden;
					transition: all 0.3s ease;
				}
			}
		}

		& li.menu-item.active > a {
			&::before {
				opacity: 1;
				visibility: visible;
				width: 100%;
			}
		}

		& li.menu-item:hover > a {
			&::before {
				opacity: 1;
				visibility: visible;
				width: 100%;
			}
		}

		& li.has-dropdown.active>a::after {
			content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCg0KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyBmaWxsPSIjMWUxYzFjIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiANCgkgdmlld0JveD0iMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7fQ0KPC9zdHlsZT4NCjxwYXRoIGQ9Ik0xMiw1LjFsLTAuNywwLjdsLTksOWwxLjQsMS40TDEyLDcuOWw4LjMsOC4zbDEuNC0xLjRsLTktOUwxMiw1LjF6Ii8+DQo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiLz4NCjxyZWN0IGNsYXNzPSJzdDAiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIvPg0KPC9zdmc+);
			transition: all 0.3s ease;
		}

		& li.active>a::after {
			color: var(--black);
		}

		& li:hover>a {
			color: var(--black);
			transition: all 0.3s ease;
			opacity: 1;
		}

		& li:hover>a::after {
			color: var(--black);
			transition: all 0.3s ease;
		}

		& li.has-dropdown:hover>a::after {
			content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCg0KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyBmaWxsPSIjMWUxYzFjIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiANCgkgdmlld0JveD0iMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7fQ0KPC9zdHlsZT4NCjxwYXRoIGQ9Ik0xMiw1LjFsLTAuNywwLjdsLTksOWwxLjQsMS40TDEyLDcuOWw4LjMsOC4zbDEuNC0xLjRsLTktOUwxMiw1LjF6Ii8+DQo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiLz4NCjxyZWN0IGNsYXNzPSJzdDAiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIvPg0KPC9zdmc+);
			transition: all 0.3s ease;
		}

		& li:hover {
			.submenu {
				visibility: visible;
				opacity: 1;
				top: 100%;
				transition: all 0.3s ease;
			}
		}
	}
}

/*----------------------------------------*/
/*  06. Logo
/*----------------------------------------*/
.site-logo {
	img {
		width: 152px;
	}
}

/*----------------------------------------*/
/*  07. Header Icons
/*----------------------------------------*/
.header__menu-icons {
	display: flex;
	align-items: center;

	&>* {
		margin: 0 5px;

		@media (min-width: 1024px) {
			margin: 0 10px;
		}
	}
}

/*----------------------------------------*/
/*  08. Icon Search
/*----------------------------------------*/
.header__menu-icons__item--search {
	display: inline-flex;
	cursor: pointer;

	span {
		display: block;

		& svg {
			fill: white;
		}
	}
}