html {
	font-size: var(--html);
}

body,
input,
button,
option,
textarea,
label,
select,
legend,
h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-family: var(--font-google);
	font-size: 14px;
	color: var(--body-text-color);
	line-height: 1.2;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: var(--title);
}
