.header__col--vertical {
	width: 25%;
}

.header__vertical-list {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 299;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
	transform: translateY(15px) translateZ(0);
	background: var(--white);
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.header__vertical-wrapper {
	width: 100%;
	position: relative;

	&:hover {
		& .header__vertical-list {
			visibility: visible;
			opacity: 1;
			transform: none;
		}
	}
}

.header__vertical-header {
	background: var(--secondary);
	color: var(--white);
	padding: 0 1.5em;
	line-height: 40px;
}

.header__vertical-icon {
	padding: 2px;

	& svg {
		width: 16px;
		height: 16px;
		fill: white;
	}
}

.header__vertical_menu {
	list-style: none;

	& > .menu-item {
		& > a {
			display: inherit;
			padding: 0.5em 1.5em;
			border-bottom: 1px solid rgba(0, 0, 0, 0.05);
			position: relative;

			&::before {
				content: '';
				width: 2px;
				height: 100%;
				position: absolute;
				transition: all 0.3s;
				left: 0;
				top: 0;
			}

			&:hover {
				color: var(--primary);

				&::before {
					background: var(--primary);
				}
			}
		}
	}
}

.header__vertical-list {
	& ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	& ul ul {
		display: block;
		box-shadow: var(--shadow);
		float: left;
		position: absolute;
		left: -99999px;
		opacity: 0;
		z-index: 99999;
		width: 200px;
		text-align: left;
		top: auto;
		transition: opacity 80ms linear;
		transition-delay: 0s;
		pointer-events: none;
		height: 0;
		overflow: hidden;
	}

	& ul ul {
		box-shadow: var(--shadow);
	}

	& ul li:hover > ul {
		right: 100%;
		opacity: 1;
		transition-delay: 150ms;
		pointer-events: auto;
		height: auto;
		overflow: visible;
		left: auto;
		top: 0;
	}

	& ul ul li:hover > ul {
		left: 100%;
		top: 0;
	}

	& ul ul li:hover > ul {
		right: 100%;
		left: auto;
	}

	& ul ul ul {
		top: 0;
	}
}
