.widget-area {
	.widget {
		position: relative;
		margin-bottom: 30px;

		&::after {
			content: '';
			position: absolute;
			top: 34px;
			width: 100%;
			height: 1px;
			background-color: var(--title);
		}
	}

	/*----------------------------------------*/
	/*  01. Widget Title
	/*----------------------------------------*/
	.widget-title {
		background-color: var(--title);
		margin: 0px 0px 0px 0px;
		padding: 6px 27px 6px 16px;
		font-size: 16px;
		font-weight: bold;
		color: white;
		min-width: 180px;
		width: 100%;
		height: 34px;
		@include flex-center;
	}

	/*----------------------------------------*/
	/*  03. Categories list
	/*----------------------------------------*/
	.product-categories {
		padding: 0;
		list-style: none;
		margin: 0;
		padding-top: 16px;

		.children {
			display: none;
		}

		a {
			font-size: 15px;
			// &::before {
			// 	content: '-';
			// 	display: inline-block;
			// 	margin-right: 0.25em;
			// }
		}

		li:not(:last-child) {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid #D2D2D2;
		}

		li.current-cat a {
			color: var(--primary);
		}

		.cat-item {
			position: relative;
		}

		input {
			@include custom-checkbox(var(--primary), #ccc);

			&~label {
				line-height: 35px;
			}
		}
	}
}
/*----------------------------------------*/
/* 03. Recent Posts
/*----------------------------------------*/
.recent-posts-widget {
	list-style: none;
	padding: 0;
	margin: 20px 0 0 0;
}

.recent-post-item {
	display: flex;
	gap: 10px;
	margin-bottom: 15px;
}

.recent-post-item.first-post {
	display: block;

	.recent-post-title {
		font-size: 18px;
		font-weight: normal;
	}
}

.recent-post-item.first-post .recent-post-thumb {
	margin-bottom: 10px;
}

.recent-post-item.other-post {
	align-items: flex-start;
}

.recent-post-item.other-post .recent-post-thumb {
	width: 100px;
}

.recent-post-thumb img {
	width: 100%;
	height: auto;
	border-radius: 4px;
	object-fit: cover;
}

.recent-post-item.first-post .recent-post-thumb img {
	max-width: 100%;
}

.recent-post-item.other-post .recent-post-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc( 100% - 100px - 10px );
}

.recent-post-title {
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 4px;
	display: block;
}

.post-date {
	font-size: 0.85em;
	color: #777;
}