body {
	background-color: var(--bg-body);
}

p,
.wp-block-image,
figure {
	margin: 0;
}

p {
	font-size: 16px;
	line-height: 26px;
}

ul,
ol {
	@include list-reset;
}

a {
	color: var(--title);
	text-decoration: unset !important;
	transition: color 0.3s ease;

	&:hover {
		color: var(--primary);
	}
}

.site-content {
	flex-flow: row wrap;
}

table,
th,
td {
	border: 0;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

input:not([type='checkbox'], [type='submit'], [type='radio'], .not-default) {
	@include input-field;

	&:focus {
		outline: none;
	}
}

textarea {
	@include input-field;

	&:focus {
		outline: none;
	}

	height: 150px;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 150px;
	padding: 0 10px;
	font-size: 14px;

	&:focus {
		outline: none;
		box-shadow: none;
		border: 0;
	}
}
span[data-name="admin-email"],
.wpcf7 input.hidden {
	display: none;
}

.section {
	overflow: hidden;
}

*:focus-visible {
  outline: none !important;
}