.asl-storelocator-custom {
    #asl-storelocator.asl-cont.asl-template-0 .asl-wrapper .Filter_section {
        margin-top: 0;
        padding: 0;
        padding-top: 16px;
        background-color: white;
    }

    #asl-storelocator.asl-cont ul {
        margin-top: 0;
    }

    #asl-storelocator.asl-cont p {
        margin: 0 !important;
        margin-bottom: 10px !important;
    }

    #asl-storelocator.asl-cont ul li {
        padding-bottom: 0 !important;
    }

    .map-image {
        opacity: 0;
    }
}