.product-price--countdown {
	display: flex;
	flex-wrap: wrap;
	border-radius: 0;

	@media (min-width: 1024px) {
		align-items: center;
	}

	& .price del {
		color: var(--white);
	}

	&.is-style-default {
		background: transparent;
		color: var(--white);
	}

	&.is-style-primary {
		background: var(--primary);
		color: var(--white);
	}

	&.is-style-secondary {
		background: var(--secondary);
		color: var(--white);
	}

	&.is-style-dark {
		background: var(--white);
		color: var(--black);
		border: 2px solid var(--black);
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);

		& .price {
			color: var(--primary);

			& ins {
				color: var(--primary);
			}

			& del {
				color: var(--black);
				opacity: 0.75;
			}
		}
	}
}

.product-price--countdown.display-message {
	& .single-product__price__notice {
		display: block;
		margin-top: 1em;
	}
}

.product-price--countdown {
	color: var(--white);
	line-height: 1.25;

	& > * {
		opacity: 0;
	}

	&.is-loaded {
		& > * {
			opacity: 1;
		}
	}

	& .single-product__price__notice,
	& del,
	& ins {
		color: var(--white);
	}

	& del {
		padding-left: 1em;

		@media (min-width: 1024px) {
			padding-left: 0;
		}
	}
}

.single-product__price__bottom {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	@media (min-width: 1024px) {
		width: auto;
		flex: 1 1 0;
	}
}

.single-product__price__label {
	width: 100%;
	margin-bottom: 0.5em;
	font-size: 1rem;
	font-weight: bold;
	display: none;
}

.single-product__price__countdown {
	display: flex;
	width: 100%;
}

.single-product__price__item {
	margin-right: 0.5em;
	width: 45px;
	background-color: var(--primary);
	text-align: center;
	border-radius: 0;

	&:last-child {
		margin-right: 0;
	}
}

.single-product__price__bottom__inner {
	padding: 0.25em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

	& .number {
		color: var(--white);
	}

	& .unit {
		color: var(--white);
		font-weight: 400;
	}
}

.single-product__price__notice {
	display: none;
}

.product-price--countdown.display-message {
	& .single-product__price__notice {
		display: block;
		margin-top: 1em;
	}
}
