.logo-slider {
	border: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
	padding: 2.5em 0;
	& .logo-slider__main-container {
		max-width: 1000px;
		border-top: 1px solid #F0F0F0;
		border-bottom: 1px solid #F0F0F0;
		padding: 30px 0;
	}
}
