.modal--search-form {
	& .modal__wrapper {
		width: calc(100vw - 40px);
		background-color: var(--white);

		@media (min-width: 588px) {
			width: 360px;
		}

		@media (min-width: 1024px) {
			width: 600px;
		}
	}

	& .modal__header {
		position: relative;
		margin: 0;
		padding: 0.5em 2.5em 0.5em 1.25em;
		background: var(--white);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
	}

	& .modal__title {
		margin: 0;
		padding: 0;
		border: 0;
	}

	& .modal__content {
		position: relative;
		background: var(--light);
		border-top: 1px solid var(--border);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		overflow: hidden;
	}

	& .modal__close-button {
		@include button-reset;
		@include flex-center;

		position: absolute;
		top: 0;
		right: 0;
		width: 44px;
		height: 44px;
		cursor: pointer;

		@media (min-width: 1024px) {
			width: 60px;
		}

		& svg {
			width: 18px;
			height: 18px;
		}
	}
}
.modal--search-form {
	.search-form {
		position: relative;
		background: var(--light);

		&:hover {
			& .search-submit svg {
				@media (min-width: 1024px) {
					transform: rotate(90deg);
				}
			}
		}

		& label {
			display: block;
		}

		& .search-field {
			position: relative;
			width: 100%;
			padding: 0.5em 2.5em 0.5em 1.25em;
			height: 40px;
			color: var(--black);
			background: transparent;
			z-index: 1;

			@media (min-width: 1024px) {
				height: 60px;
				padding: 1em;
			}
		}

		& .search-submit {
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: 40px;
			background: transparent;
			border: 0;
			z-index: 2;
			display: flex;
			justify-content: center;

			& svg {
				width: 20px;
				height: 20px;
				@include transition(transform);
			}

			@media (min-width: 1024px) {
				width: 60px;
				height: 60px;
			}
		}
	}
}
