.newsletter {
    &__inner {
        position: absolute;
        background-color: white;
        max-width: 100%;
        width: calc(100% - 40px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;

        @media (min-width: 768px) {
            padding: 20px;
            width: 100%;
            max-width: 630px;
        }

        @media (min-width: 1024px) {
            padding: 30px;
        }

        @media (min-width: 1280px) {
            padding: 70px 50px 80px;
        }
    }

    &__form {
        p {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        label input {
            height: 48px;
            background-color: #fff;
            border: 1px solid #666;
            color: #888;
            font-size: 14px;
            border-radius: 0;
            margin-bottom: 30px;
        }

        .wpcf7-submit {
            @include button-style-dark;
            height: 50px;
            width: 160px;
            @include flex-center;
            border: 0;
            margin: 0 auto;
        }
    }
}