.product-tabs {
	&.is-loading {
		& * {
			pointer-events: none;
		}

		& .loader {
			display: block;
		}
	}
}

.product-tabs__nav-wrapper {
	display: flex;
	overflow-x: scroll;
	white-space: normal;

	@include scrollbar;

	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.product-tabs__nav {
	@include list-reset;

	white-space: nowrap;
}

.product-tabs__item {
	margin-right: 1.25em;
	padding: 0.25em 1em;
	background: transparent;
	border: 1px solid var(--border);
	border-radius: var(--border-radius);
	color: var(--white);
	transition: color 0.3s, background-color 0.3s;
	cursor: pointer;
	scroll-snap-align: start;
	background: var(--title);
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		@media (min-width: 1024px) {
			opacity: 0.75;
		}
	}

	&[aria-selected='true'],
	&.is-active {
		opacity: 1;
		background: var(--primary);
		color: var(--black);

		@media (min-width: 1024px) {
			&:hover {
				opacity: 1;
			}
		}
	}
}

.product-tabs__tab-content {
	&[aria-expanded] {
		display: none;
	}

	&[aria-expanded='true'] {
		display: block;
	}
}

.product-tabs__footer {
	transition: opacity 0.3s ease;
}