.product-tabs-category {
	position: relative;
	margin-top: -15px;
	&.is-loading {
		& * {
			pointer-events: none;
		}

		& .loader {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			z-index: 99;
		}
		&::after {
			position: absolute;
			content: "";
			background-color: white;
			opacity: 0.5;
			width: 100%;
			height: 100%;
			z-index: 9;
			top: 0;
			left: 0;
		}
	}
}

.product-tabs-category__nav-wrapper {
	display: flex;
	overflow-x: scroll;
	white-space: normal;

	@include scrollbar;

	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	padding-bottom: 10px;
}

.product-tabs-category__nav {
	@include list-reset;

	white-space: nowrap;
}

.product-tabs-category__item {
	margin-right: 1.25em;
	padding: 0.25em 1em;
	background: transparent;
	border: 1px solid var(--border);
	border-radius: var(--border-radius);
	color: var(--black);
	transition: color 0.3s, background-color 0.3s;
	cursor: pointer;
	scroll-snap-align: start;

	&:hover {
		@media (min-width: 1024px) {
			opacity: 0.75;
		}
	}

	&[aria-selected='true'],
	&.is-active {
		opacity: 1;
		background: var(--primary);
		color: var(--white);

		@media (min-width: 1024px) {
			&:hover {
				opacity: 1;
			}
		}
	}
}

.product-tabs-category__tab-content {
	&[aria-expanded] {
		display: none;
	}

	&[aria-expanded='true'] {
		display: block;
	}

	&.prev-active {
		display: block;
	}
}

.product-tabs-category__footer {
	transition: opacity 0.3s ease;
}