/*----------------------------------------*/
/*  11. Mobile Menu
/*----------------------------------------*/
.th-menu-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 999999;
	width: 100%;
	height: 100%;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	visibility: hidden;
	& .th-menu-wrapper__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
		width: 100%;
		height: 100%;
		-webkit-transition: all ease 0.5s;
		transition: all ease 0.5s;
		opacity: 0;
		visibility: hidden;
	}
}

.th-menu-wrapper .mobile-logo {
	padding-bottom: 10px;
	padding-top: 10px;
	display: block;
	text-align: center;
	background-color: var(--black);
}

.th-menu-wrapper .mobile-logo svg {
	max-width: 185px;
}

.th-menu-wrapper .th-menu-toggle {
	border: none;
	font-size: 22px;
	position: absolute;
	right: -16.5px;
	top: 13px;
	padding: 0;
	line-height: 1;
	width: 33px;
	height: 33px;
	z-index: 1;
	color: var(--white);
	background-color: var(--primary);
	border-radius: 50%;

	@include flex-center;

	svg {
		fill: var(--white);
		@include icon(16px);
	}
}

body.th-body-visible {
	overflow: hidden;
}

.th-menu-wrapper .th-menu-toggle:hover {
	background-color: var(--title-color);
	color: var(--white);
}

.th-menu-wrapper .th-menu-area {
	width: 100%;
	max-width: 310px;
	background-color: #fff;
	border-right: 3px solid var(--primary);
	height: 100%;
	position: relative;
	left: -110%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
	z-index: 1;
}

.th-menu-wrapper.th-menu-visible {
	opacity: 1;
	visibility: visible;
	& .th-menu-wrapper__overlay {
		opacity: 1;
		visibility: visible;
	}
}

.th-menu-wrapper.th-menu-visible .th-menu-area {
	left: 0;
	opacity: 1;
	visibility: visible;
}

.th-mobile-menu {
	overflow-y: scroll;
	max-height: calc(100vh - 200px);
	text-align: left;
}

.th-mobile-menu ul {
	margin: 0;
	padding: 0 0;
}

.th-mobile-menu ul li {
	border-bottom: 1px solid #fdedf1;
	list-style-type: none;
}

.th-mobile-menu ul li li:first-child {
	border-top: 1px solid #fdedf1;
}

.th-mobile-menu ul li a {
	display: block;
	position: relative;
	padding: 12px 0;
	line-height: 1.4;
	font-size: 16px;
	text-transform: capitalize;
	color: var(--title-color);
	padding-left: 18px;
}

.th-mobile-menu ul li a:before {
	content: url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cg08ZyBpZD0iU1ZHUmVwb19iZ0NhcnJpZXIiIHN0cm9rZS13aWR0aD0iMCIvPgoNPGcgaWQ9IlNWR1JlcG9fdHJhY2VyQ2FycmllciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cg08ZyBpZD0iU1ZHUmVwb19pY29uQ2FycmllciI+IDxwYXRoIGQ9Ik0xMCA3TDE1IDEyTDEwIDE3IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4gPC9nPgoNPC9zdmc+);
	position: absolute;
	left: 0;
	top: 15px;
	margin-right: 10px;
	display: inline-block;
}

.th-mobile-menu ul li.th-active > a {
	color: var(--primary);
}

.th-mobile-menu ul li.th-active > a:before {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.th-mobile-menu ul li ul li {
	padding-left: 20px;
}

.th-mobile-menu ul li ul li:last-child {
	border-bottom: none;
}

.th-mobile-menu ul .th-item-has-children > a .th-mean-expand {
	position: absolute;
	right: 0;
	top: 50%;
	font-weight: 400;
	font-size: 12px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-top: -12.5px;
	display: inline-block;
	text-align: center;
	background-color: #f7f7f7;
	color: var(--title-color);
	box-shadow: 0 0 20px -8px rgba(173, 136, 88, 0.5);
	border-radius: 50%;
}

.th-mobile-menu ul .th-item-has-children > a .th-mean-expand:before {
	content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNNiAxMkgxOE0xMiA2VjE4IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4=);
}

.th-mobile-menu ul .th-item-has-children > a:after {
	content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBkPSJNNiAxMkgxOE0xMiA2VjE4IiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4=);
	display: inline-block;
	text-align: center;
	border-radius: 50px;
	background-color: #f7f7f7;
	float: right;
	margin-top: 1px;
}

.th-mobile-menu ul .th-item-has-children.th-active > a .th-mean-expand:before {
	content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIgMTEuNUMyIDEwLjk0NzcgMi40NDc3MiAxMC41IDMgMTAuNUwyMSAxMC41QzIxLjU1MjMgMTAuNSAyMiAxMC45NDc3IDIyIDExLjVWMTIuNUMyMiAxMy4wNTIzIDIxLjU1MjMgMTMuNSAyMSAxMy41SDNDMi40NDc3MiAxMy41IDIgMTMuMDUyMyAyIDEyLjVWMTEuNVoiIGZpbGw9IiMwMDAwMDAiLz4NCjwvc3ZnPg==);
}

.th-mobile-menu ul .th-item-has-children.th-active > a:after {
	content: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPg0KPHN2ZyB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIgMTEuNUMyIDEwLjk0NzcgMi40NDc3MiAxMC41IDMgMTAuNUwyMSAxMC41QzIxLjU1MjMgMTAuNSAyMiAxMC45NDc3IDIyIDExLjVWMTIuNUMyMiAxMy4wNTIzIDIxLjU1MjMgMTMuNSAyMSAxMy41SDNDMi40NDc3MiAxMy41IDIgMTMuMDUyMyAyIDEyLjVWMTEuNVoiIGZpbGw9IiMwMDAwMDAiLz4NCjwvc3ZnPg==);
}

.th-mobile-menu > ul {
	padding: 0 40px;
}

.th-mobile-menu ul.sub-menu.th-open {
	display: block;
}

.th-mobile-menu > ul > li:last-child {
	border-bottom: none;
}

.th-menu-toggle {
	padding: 0;
	border: none;
	display: block;
	cursor: pointer;
	svg {
		fill: black;
		@include icon(20px);
	}

	display: none;
}

.th-menu-toggle.style-text,
.th-menu-toggle.style-text-white {
	width: auto;
	height: auto;
	background-color: transparent;
	color: var(--title);
	font-size: 20px;
}

.th-menu-toggle.style-text i,
.th-menu-toggle.style-text-white i {
	margin-right: 10px;
}

.th-menu-toggle.style-text-white {
	color: var(--white);
}

@media (max-width: 400px) {
	.th-menu-wrapper .th-menu-area {
		width: 100%;
		max-width: 270px;
	}
	.th-mobile-menu > ul {
		padding: 0 20px;
	}
}
