.section {
	& .swiper-wrapper {
	}
	& .swiper-slide {
		display: flex;
		flex-direction: column;
		height: auto;

		& > * {
			flex-grow: 1;
		}
	}
	& .swiper-pagination-bullet {
		height: var(--swiper-pagination-bullet-width);
		width: var(--swiper-pagination-bullet-height);
		border-radius: 10px;
		background-color: var(--swiper-pagination-bullet-inactive-color);
		opacity: var(--swiper-pagination-bullet-inactive-opacity);
	}
	& .swiper-pagination-bullet-active {
		border-radius: 10px;
		background-color: var(--swiper-pagination-color);
		opacity: var(--swiper-pagination-bullet-opacity);
	}

	& .swiper-button-next:after {
		font-size: var(--swiper-navigation-font-size);
	}

	& .swiper-button-next {
		height: 40px;
		width: 40px;
		background-color: var(--bs-primary);
		opacity: 0.5;
	}

	& .swiper-button-prev:after {
		font-size: var(--swiper-navigation-font-size);
	}

	& .swiper-button-prev {
		height: 40px;
		width: 40px;
		background-color: var(--bs-primary);
		opacity: 0.5;
	}
}
