ul.products {
	display: grid;
	grid-gap: 10px;
	margin: 0;
	padding: 0;
	list-style: none outside;

	.onsale {
		display: none;
	}
}

@media (min-width: 992px) {
	ul.products {
		grid-gap: 10px;
	}
}

ul.products::before {
	content: none !important;
}

ul.products {
	clear: both;
}

ul.products>li.product {
	width: auto !important;
	width: initial !important;
	margin: 0 !important;
}

.product-tabs ul.products>li.product,
.product-tabs-category ul.products>li.product,
.product-grid-slider-flashsale div.product,
.product-grid-slider div.product,
ul.products>li.product {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.product-tabs ul.products>li.product {
	.product__tag.product__tag--label {
		left: 5px;
	}
}

.product-grid-slider-flashsale div.product,
.product-grid-slider div.product {
	.product__tag.product__tag--label {
		left: -8px;
	}
}

.product-tabs-category ul.products>li.product {
	.product__tag.product__tag--label {
		left: -6px;
	}
}

// .product-grid-slider-flashsale span.product,
// .product-grid-slider span.product {
// 	padding: 0 5px;
// }

ul.products.columns-5 {
	grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

@media (min-width: 576px) {
	ul.products.columns-5 {
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	}
}

@media (min-width: 768px) {
	ul.products.columns-5 {
		grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
	}
}

@media (min-width: 992px) {
	ul.products.columns-5 {
		grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
	}
}

@media (min-width: 1080px) {
	ul.products.columns-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr)) !important;
	}
}

ul.products.columns-6 {
	grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

@media (min-width: 768px) {
	ul.products.columns-6 {
		grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
	}
}

@media (min-width: 992px) {
	ul.products.columns-6 {
		grid-template-columns: repeat(6, minmax(0, 1fr)) !important;
	}
}

ul.products.columns-4 {
	grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

@media (min-width: 768px) {
	ul.products.columns-4 {
		grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
	}
}

@media (min-width: 992px) {
	ul.products.columns-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
	}
}

ul.products.columns-3 {
	grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

@media (min-width: 576px) {
	ul.products.columns-3 {
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	}
}

@media (min-width: 768px) {
	ul.products.columns-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
	}
}

@media (min-width: 992px) {
	ul.products.columns-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
	}
}

ul.products.columns-2 {
	grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
}

@media (min-width: 768px) {
	ul.products.columns-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
	}
}

/* Common style product list */

.woocommerce .product-slider__slide>div.product .price,
.woocommerce ul.products>li.product .price {
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
}

.woocommerce .product-slider__slide>div.product .price del,
.woocommerce ul.products>li.product .price del {
	margin-left: 0.625rem;
}

.woocommerce .product-slider__slide>div.product .onsale,
.woocommerce ul.products>li.product .onsale {
	position: absolute;
	top: 10px;
	left: 10px;
	right: unset;
	max-width: 40px;
	max-height: 40px;
	margin: 0;
	display: flex;
	justify-content: center;
	padding: 0;
}

.woocommerce ul.products.columns-5 li.product .star-rating,
.woocommerce ul.products.columns-2 li.product .star-rating,
.woocommerce ul.products.columns-4 li.product .star-rating,
.woocommerce ul.products.columns-3 li.product .star-rating {
	color: var(--star-rating);
	font-size: 14px;

	&::before {
		right: 0;
		left: unset;
	}

	span::before {
		right: 0;
		left: unset;
	}
}

.product__tag {
	color: var(--black);
	font-size: 0.75rem;
	font-weight: bold;
	padding: 0.25em;
	position: absolute;
	top: 0;
	left: 10px;
	z-index: 2;
	min-width: 40px;

	&.product__tag--primary {
		background-color: var(--primary);
	}

	&.product__tag--label {
		left: -6px;
		z-index: 2;
		padding: 0;
		display: none;
	}

	&.product__tag--onsale {
		top: 12px;
		left: 0;
		border-radius: 2px;
	}
}

/* style for grid product */
.product-tabs ul.products>li.product,
.product-tabs-category ul.products>li.product,
.product-grid-slider-flashsale div.product,
.product-grid-slider div.product,
.woocommerce ul.products.columns-5 li.product,
.woocommerce ul.products.columns-2 li.product,
.woocommerce ul.products.columns-4 li.product,
.woocommerce ul.products.columns-3 li.product {
	padding-bottom: 20px;
	div.woocommerce-loop-product__link {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		background: #FFF;
		box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .3), 0 6px 12px -2px rgba(50, 50, 93, .25);
		border-radius: 12px;
		overflow: hidden;
		min-height: 0;

		.yith-ywar-product-rating.page-loop {
			justify-content: space-between;
			width: auto;

			.total-reviews {
				display: none;
			}
		}

		.product__content {
			flex-flow: row wrap;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			padding: 7px 7px 10px;

			@media (min-width: 576px) {
				padding: 12px 12px 18px;
			}

			.product__content-inner {
				display: flex;
				flex-direction: column;
				width: 100%;
				margin-top: auto;
			}
		}

		.attachment-woocommerce_thumbnail {
			width: 100%;
			height: auto;
		}

		.product-link__title {
			width: 100%;

			.woocommerce-loop-product__title {
				font-size: 14px;
				font-weight: bold;
				color: var(--title);
				line-height: 18px;
				margin-bottom: 10px;

				@include line-clamp();
			}
		}

		.product-link__image {
			width: 100%;
			border-radius: 0;
		}

		.button.product_type_simple,
		.button.product_type_variable,
		.button.ajax_add_to_cart,
		.add-to-cart-button-wrapper {
			width: calc(100% - 24px);
			// margin-top: 10px;
			@include button-style-primary;
			@include flex-center;
			height: 36px;
			border-radius: 0;
			margin-bottom: 10px;
			margin-left: auto;
			margin-right: auto;
			display: none;

			@media (max-width: 575px) {
				width: 100%;
			}
		}

		.star-rating {
			width: 50%;
			margin-bottom: 0;
			margin-top: 0.25em;
		}

		.woocommerce-product-details__short-description {
			display: none;
		}

		span.price {
			@include style-price;
			order: unset;
		}

		.promotion-content {
			padding: 4px 7px;
			border-radius: 5px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			color: var(--white);
			background: var(--primary);
			border-color: var(--primary);
			font-size: 12px;
			line-height: 14px;
			margin-top: 10px;
			height: 30px;
			display: none;

			@media (min-width: 576px) {
				padding: 4px 9px;
				height: 40px;
				font-size: 12px;
				line-height: 16px;
				margin-top: 13px;
			}

			&__icon {
				margin-right: 5px;
				display: none;

				@media (min-width: 375px) {
					display: block;
				}

				@media (min-width: 576px) {
					margin-right: 10px;
				}
			}

			&__text {
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 14px;
				-webkit-line-clamp: 2;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				text-transform: uppercase;
			}

			svg {
				width: 20px;
				height: auto;

				@media (min-width: 576px) {
					width: 24px;
					height: auto;
				}
			}
		}

		.total-sales {
			width: 100%;
			display: block;
			text-align: right;
			margin-top: 10px;
			font-size: 12px;
			color: var(--title);
			display: none;
		}
	}
}

.product-tabs ul.products>li.product,
.product-tabs-category ul.products>li.product,
.product-grid-slider-flashsale div.product,
.product-grid-slider div.product {
	div.woocommerce-loop-product__link {
		box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .3), 0 6px 12px -2px rgba(50, 50, 93, .25);
		border-radius: 12px;
	}
}

/* style for list product variable */
.woocommerce ul.products.list li.product.product-type-variable {
	div.woocommerce-loop-product__link {
		display: flex;
		flex-flow: row wrap;

		.product__content {
			flex-flow: row wrap;
			order: 2;
			width: calc(100% - 218px);
			height: max-content;
			padding-left: 1.875em;
		}

		.attachment-woocommerce_thumbnail {
			width: 218px;
			height: auto;
		}

		.product-link__title {
			width: 100%;
			order: 2;
		}

		.woocommerce-product-details__short-description {
			font-size: 14px;
			color: var(--body-text-color);
			order: 3;
			width: 100%;
		}

		.star-rating {
			width: 50%;
			order: 1;
			margin-bottom: 0;
		}

		span.price {
			@include style-price;
		}
	}
}

/* style common star list */
.woocommerce ul.products.list li.product .star-rating {
	color: var(--star-rating);
	font-size: 20px;
}

/* style for list product simple */
.woocommerce ul.products.list li.product.product-type-simple {
	div.woocommerce-loop-product__link {
		display: flex;
		flex-flow: row wrap;

		.product__content {
			flex-direction: column;
			// order: 2;
			width: calc(100% - 218px);
			height: max-content;
			padding-left: 1.875em;
		}

		.attachment-woocommerce_thumbnail {
			width: 100%;
			height: auto;
		}

		.product-link__title {

			// order: 2;
			.woocommerce-loop-product__title {
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 10px;
			}
		}

		.product-link__image {
			width: 218px;
		}

		.add-to-cart-button-wrapper {
			// order: 2;
		}

		.woocommerce-product-details__short-description {
			font-size: 14px;
			color: var(--body-text-color);
			// order: 3;
			margin-bottom: 10px;
			display: none;

			@media (min-width: 576px) {
				display: block;
			}
		}

		.star-rating {
			// order: 1;
			margin-bottom: 0;
			max-width: 84px;
			margin-left: 0;
			margin-bottom: 10px;
		}

		span.price {
			@include style-price;
			order: unset;
			margin-bottom: 10px;
		}
	}
}

/* style common add to cart */
.woocommerce ul.products li.product .add-to-cart-button-wrapper {
	button {
		display: flex;
		justify-content: center;
		background-color: var(--primary);
		color: var(--white);
		align-items: center;
		height: 40px;

		&>* {
			margin: 0 0.25em;
		}

		&>.button {
			background-color: var(--primary);
			display: inline-flex;
			margin: 0;

			&.added::after {
				color: var(--white);
			}

			&.loading::after {
				color: var(--white);
				top: auto;
			}
		}
	}

	svg path {
		fill: var(--white);
	}

	.icon {
		height: 16px;
		@include flex-center;
	}
}

@media (max-width: 575px) {
	.product-scroll-wrapper {
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		padding-bottom: 1rem;
		width: 100%;
		@include scrollbar;

		.products.columns-2,
		.products.columns-3,
		.products.columns-4,
		.products.columns-5 {
			display: flex;
			flex-wrap: nowrap;
		}

		.products.columns-2>li.product,
		.products.columns-3>li.product,
		.products.columns-4>li.product,
		.products.columns-5>li.product {
			flex: 0 0 49%;
			scroll-snap-align: start;
		}
	}
}

.lmp_load_more_button.br_lmp_button_settings {
	.lmp_button {
		box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .3), 0 6px 12px -2px rgba(50, 50, 93, .25);
	}
}

.product-view-more__button {
	// width: 100%;
	text-align: right;
	// padding: 15px;

	.product-view-more {
		font-size: 14px;
		// color: white;
		// background-color: #ffffff;
		// padding-top: 10px;
		// padding-right: 30px;
		// padding-bottom: 10px;
		// padding-left: 30px;
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
		border-top: 0px solid var(--primary-var-2);
		border-bottom: 0px solid var(--primary-var-2);
		border-left: 0px solid var(--primary-var-2);
		border-right: 0px solid var(--primary-var-2);
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		// box-shadow: 0 3px 7px 1px rgba(0, 0, 0, .3), 0 6px 12px -2px rgba(50, 50, 93, .25);
		display: inline-block;

		&:hover {
			// background-color: var(--primary-var-2);
			color: var(--white);
		}
	}
}