.shop-steps {
	margin: 0.5em 0 0;
	display: none;

	@media (min-width: 1024px) {
		display: block;
	}
}

.shop-steps__list {
	border-bottom: 1px dashed var(--black);
	display: flex;
	align-items: center;
}

.shop-steps__item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	margin-right: 0.625rem;
	padding: 0;
	user-select: none;

	@media (min-width: 576px) {
		margin-right: 1.25rem;
		padding: 0 0 1em;
	}

	&:last-child {
		margin-right: 0;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: transparent;
	}
}

a.shop-steps__item {
	@media (min-width: 1024px) {
		&:hover {
			&::after {
				background-color: var(--primary);
			}

			.shop-steps__title {
				color: var(--primary);
			}
		}
	}
}

.shop-steps__item--active {
	position: relative;

	&::after {
		background-color: var(--primary);
	}

	.shop-steps__title {
		color: var(--primary);
	}
}

.shop-steps__number {
	@include flex-center;

	width: 20px;
	height: 20px;
	background: var(--primary);
	color: var(--white);
	font-size: 0.5rem;
	text-align: center;
	border-radius: 50%;

	@media (min-width: 576px) {
		width: 24px;
		height: 24px;
		font-size: 0.75rem;
	}
}

.shop-steps__title {
	display: flex;
	margin-left: 0.25em;
	text-transform: uppercase;
	font-size: 0.75rem;
	color: var(--black);
	transition: color 0.3s;

	@media (min-width: 576px) {
		margin-left: 0.625rem;
		font-size: 0.85rem;
	}
}
