:root {
	--black: #1e1c1c;
	--white: #fff;
	--primary: #fec312;
	--secondary: #FABD20;
	--primary-var-1: #fff8e2;
	--primary-var-2: #fff8e2;
	--body: #f4f4f4;
	--body-text-color: #55545b;
	--bg-body: #f9f9f9;
	--border: #ececec;

	--title: #2D2D37;

	--font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--font-google: "Inter", sans-serif;

	--rating-color: #F2B827;
	--star-rating: #FFC700;

	--border-radius: 4px;

	--price-color: #d70018;

	--shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
	rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
	--swiper-pagination-color: #3D75ED;
	--swiper-pagination-bullet-size: 16px;
	--swiper-pagination-bullet-width: 16px;
	--swiper-pagination-bullet-height: 16px;
	--swiper-pagination-bullet-inactive-color: #fabd20;
	--swiper-pagination-bullet-inactive-opacity: 0.2;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-horizontal-gap: 4px;
	--swiper-pagination-bullet-vertical-gap: 6px;
	--swiper-navigation-color: #000;
	--swiper-navigation-size: 16px;
	--swiper-theme-color: #3D75ED;

	--zalo: #0091ff;
	--messenger: #1877f2;
	--phone: #0fb614;

	--shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
	rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}